<!-- 
 <nav class="navbar navbar-expand-sm navbar-dark  bg-dark fixed-top " style="background-color: black;">
    <div class="container-fluid">
            <a href="#" class="navbar-brand ">Bake And Flack</a>
    <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                   <h4 style="color: wheat;">You Order !! We Provide With Hygiene</h4>
            </ul>
    </div>
   
    </div>


</nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" ngClass="head">Bake And Flakes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" ></div>

          <ul class="navbar-nav mr-auto">
                  <label for=""><h3 style="color: bisque;"ngClass="head">You Order!! We Provide With Hygiene!!</h3></label>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <!-- <li style="float:left;margin-left:40px">
                                <button (click)="goToPage('/fileupload')"   class="btn btn-outline-warning">Upload</button>
                            </li> <li>&nbsp;&nbsp;&nbsp;</li> -->
                        <li>
                                <button (click)="goToPage('/')"   class="btn btn-outline-warning">Cart</button>
                        </li>  
                &nbsp;&nbsp;
                <li>
                        <button (click)="goToPage('/')"   class="btn btn-danger">Home</button>
                </li>   
                &nbsp;&nbsp;      
               <li>
                        <button (click)="goToPage('/login-page')" class="btn btn-primary">Login</button>
                </li>
                &nbsp;&nbsp;
                <li>
                        <button (click)="goToPage('/registration')"   class="btn btn-outline-warning">Register</button>
                </li>
                &nbsp;&nbsp;
                <li>
                        <button  (click)="goToPage('/about-us')"  class="btn btn-outline-warning">About Us</button>
                </li>
                
           
          </ul>
        
   
      </nav>
      <header>
        <div>
                <br><br>
        </div>
        
        
        <div  style="text-align: center;">
                <img class="image" src="../../assets/bake and flake.png"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                <marquee  bgcolor="peachpuff" direction = "right" scrollamount="20" behavior="scroll"> 
        <h5 class="head" style="text-align: center;font-size: xx-large;color:chocolate;">Welcome To Bake And Flakes</h5> 
</marquee>
        
        </div>
        
        
        
        <br>
        </header> 
         
        