<div class="" style="color:whitesmoke;background-color:peachpuff;">
    <footer class="footer">
<div >
    <tr>
        <td class="foot"><h3><img src="../../assets/arrow.png" style="height: 50px;"/>Follow Us On:</h3> <img src="../../assets/facebook.png" style="height: 50px;"/> &nbsp;&nbsp;  <img src="../../assets/whatsapp.png" style="height: 50px;"/> &nbsp;&nbsp;<img src="../../assets/instagram.png" style="height: 50px;"/> &nbsp;&nbsp;<img src="../../assets/youtube.png" style="height: 50px;"/></td>
    </tr>

    <tr><hr></tr>
        
    <tr align="center">
        <td class="foot"><p><b>Shop Address:</b> &nbsp;&nbsp;&nbsp;&nbsp;   <b>Bake And Flakes,</b> 31/562,Laxminagar,Parvati,Pune 411230.</p></td>
    </tr>
    <tr>
        <h3 class="foot">Contact Number: 9766089396</h3>
    </tr>
    <div style="text-align-last: right;"><input type="text" placeholder="Share your Experience.."/>&nbsp;&nbsp;<button type="submit" onclick="alert('Thank You For Giving FeedBack')"  class="btn btn-dark">FeedBack</button></div>
    
</div>
<br>
</footer>
</div>
        
      
    

