h5{
    
    background-color:whitesmoke;
    padding: 20px;
    margin: 0px;
    position: absolute;;
    width: 95.3%;
    bottom:0;
    
}
footer{
    color:black;
}

.foot{
    text-shadow: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}