<html>
    <head>
      
    </head>

    <body>
       
    <div class="wrapper">
        <div class="container" onsubmit="">
           <table align="center" class="table" >
               <tr>
                   <br><br>
               </tr>
               <tr>
                   <td><img class="image" style="width: 350px;" src="../../assets/Black-Forest-Cake-5.jpg" alt=""/></td>
                   <td><img class="image" style="width: 350px;"  src="../../assets/Chocolate-Oreo-Cake2.jpg" alt=""/></td>
                   <td><img class="image" style="width: 350px;"  src="../../assets/Christmas-Cake-decorated-with-fondant-marzipan-and-cherries.jpg" alt=""/></td>
                  
               </tr>
               <tr>
                   <td>
                    <b>Name:  Black Forest Cake</b>
                    <br/><br/>
                    <b>Price: 400 </b><br/><br/>
                    <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>
                   <td>
                    <b>Name:  Chocolate-Oreo-Cake</b>
                    <br/><br/>
                    <b>Price: 450 </b><br/><br/>
                    <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>

                   <td>
                    <b>Name:Cake with marzipan-and-cherries</b>
                    <br/><br/>
                    
                    <b>Price: 700 </b><br/><br/>
                    <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                   </td>
                   
                
               </tr>
               
               <tr>
                   <td  class="button">
                       
                       <button type="submit" class="btn btn-dark">Add to Cart</button>
                   </td>
                   <td  class="button">
                    
                    <button class="btn btn-dark">Add to Cart</button>
                </td>
                <td  class="button">
                    
                    <button class="btn btn-dark">Add to Cart</button>
                </td>
               
               </tr>
            
               <tr>
                   <br><br>
               </tr>

              
            
            <tr>
                <td><img class="image" style="width: 350px;"  src="../../assets/fudge-brownie-cake-half-kg_1.webp" alt=""/></td>
                <td><img class="image" style="width: 350px;"  src="../../assets/p-heart-shape-kit-kat-cake-1-kg--110237-m.webp" alt=""/></td>
                <td><img class="image" style="width: 350px;"  src="../../assets/red-velvet-heart-cake-half-kg_1.webp" alt=""/></td>
               
            </tr>
            <tr>
                <td>
                 <b>Name:Fudge-brownie-cake-half-kg</b>
                 <br/><br/>
                 <b>Price: 400 </b><br/><br/>
                 <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
                <td>
                 <b>Name:KitKat Cake</b>
                 <br/><br/>
                 <b>Price: 450 </b><br/><br/>
                 <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
                <td>
                 <b>Name:Red Velwet Cake</b>
                 <br/><br/>
                 <b>Price: 500 </b><br/><br/>
                 <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                </td>
               
            </tr>
            <tr>
                <td  class="button">
                    
                    <button class="btn btn-dark">Add to Cart</button>
                </td>
                <td  class="button">
                 
                 <button class="btn btn-dark">Add to Cart</button>
             </td>
             <td  class="button">
                 
                 <button class="btn btn-dark">Add to Cart</button>
             </td>
             
            </tr>
          
            <tr>
                <br><br>
            </tr>
            <tr> <br>
                
                <tr>
                    <td><img class="image" style="width: 350px;"  src="../../assets/unlimited chocho with strabery.jpg" alt=""/></td>
                    <td><img class="image" style="width: 350px;"  src="../../assets/white-polka-cream-cake-cake0752flav-A.jpg" alt=""/></td>
                    <td><img class="image" style="width: 350px;"  src="../../assets/Summer-Sangria-Cake-4.jpg" alt=""/></td>
                   
                </tr>
                <tr>
                    <td>
                     <b>Name:Unlimited Chocho With Strawberry</b>
                     <br/><br/>
                     <b>Price: 700 </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                    <td>
                     <b>Name:White Polka Cream Cake</b>
                     <br/><br/>
                     <b>Price: 450 </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                    <td>
                     <b>Name:Summer Sangria Cake</b>
                     <br/><br/>
                     <b>Price: 900 </b><br/><br/>
                     <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                    </td>
                   
                </tr>
                <tr>
                    <td  class="button">
                        
                        <button class="btn btn-dark">Add to Cart</button>
                    </td>
                    <td  class="button">
                     
                     <button class="btn btn-dark">Add to Cart</button>
                 </td>
                 <td  class="button">
                     
                     <button class="btn btn-dark">Add to Cart</button>
                 </td>
            
                </tr>
              
                <tr>
                    <br><br>
                </tr>
                <tr>
                  
                        <td><img class="image" style="width: 350px;"  src="../../assets/Easy-Chocolate-Birthday-Cake.jpg" alt=""/></td>
                        <td><img class="image" style="width: 350px;"  src="../../assets/snicker-chocolate-cake-A.jpg" alt=""/></td>
                        <td><img class="image" style="width: 350px;"  src="../../assets/gems-on-top-black-forest-cake-half-kg_1.webp" alt=""/></td> 
                
                    </tr>
                    <tr>
                        <td>
                            <b>Name: Quadburry Cake</b>
                            <br/><br/>
                            <b>Price: 500 </b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <td>
                            <b>Name: Snikers Choclate Cake</b>
                            <br/><br/>
                            <b>Price: 600 </b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <td>
                            <b>Name:Gems Cake</b>
                            <br/><br/>
                            <b>Price: 400 </b><br/><br/>
                            <b>Quantity:</b> <input type="number"name="Quantity"  id="Quantity" placeholder="Enter Quantity"/>
                           </td>
                           <tr>
                            <td  class="button">
                                
                                <button class="btn btn-dark">Add to Cart</button>
                            </td>
                            <td  class="button">
                                
                                <button class="btn btn-dark">Add to Cart</button>
                            </td>
                            <td  class="button">
                                
                                <button class="btn btn-dark">Add to Cart</button>
                            </td> 
                           </tr>
                           <tr><br><br></tr>
                    
           </table>
        </div>
    </div>
    </body>
</html>