<h6>                                  The Cake Shop was founded by a team of passionate and dedicated bakers who are committed in baking the most delicious cakes and pastries around.
    Using only the freshest ingredients we can find, you can be sure that you are served the best quality cake you can ever have.
 
   We have evolved to become one of a premium distributor and 
   wholesaler for cakes and pastries to some well known resturants, cafes, supermart, hotels and bakery.
   
   Our online store is a leading online shop
    in Pune providing cakes and gifts deliveries within Pune. We provide competitive prices, good after sales services and on-time delivery.
   
   The Cake Shop provides same day delivery 
   service seven days a week, including Sunday, within Pune to provide a high level of customer service.
   
   Bon Appetite!!
   
 </h6>
   <h5>The Cake Shop Team</h5>